.app-container {
    max-width: 100%;
    background: #fff;
    font-family: sans-serif;
    height: calc(95vh - 34px - 50px - 64px);
    /* height: calc(100vh); */
    padding: 2rem;
    overflow-y: scroll;
    justify-content: space-around;
    align-items: center;
    /* display: flex; */
}